<!-- Actu -->
<div class="actu">
    <h2>Avalon</h2>
    <div class="actu-date">Publié par <i class="text-info">Samuel ANABOISARD</i></div>
    <p class="actu-details">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci alias,
        assumenda autem dolor ducimus eius ipsa optio,
        pariatur, perspiciatis quibusdam sed! Ducimus est fugit, harum id magnam odio tenetur.
        <a href="#" title="Télécharger le guide">Cliquez pour télécharger le guide gratuitement</a>
    </p>
</div>