<!-- Character -->
<div class="characters">
    <div class="panel">
        <figure><img src="./img/personnages.jpg" alt="personnages"></figure>
        <div class="characters-desc">
            <h3>Les personnages Avalon</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti deserunt eaque eveniet fugit in, iste iusto maxime nesciunt nobis odio provident ratione reiciendis temporibus voluptatem voluptates. Blanditiis et fuga voluptatibus!</p>
            <a href="#" class="btn btn-warning" title="En savoir plus">En savoir plus</a>
        </div>
    </div>
</div>