<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exam HTML5 - CSS3 with Bootstrap</title>
        <link href="https://fonts.googleapis.com/css?family=League+Script|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="./css/app.css">
    </head>
    <body id="top" data-spy="scroll" data-target="#foot-target" data-offset="50">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="navbar-collapse collapse collapse navbar-collapse"  aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Percival</a></li>
                        <li><a href="#">Mordred</a></li>
                        <li><a href="#">Oberon</a></li>
                        <li><a href="#">Morcana</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="container-fluid">