<!-- Join us -->
<div class="join-us">
    <h3>Rejoingnez nous !</h3>
    <form>
        <div class="form-group">
            <label for="email">Votre e-mail :</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Mot de passe très secret ...</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-warning">J'arrive</button>
    </form>
</div>