<div class="rank">
    <h3>Rank</h3>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Rang</th>
                <th>Jeux</th>
                <th>Auteur</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Avalon</td>
                <td>Loane Oak Games</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Citadelles</td>
                <td>Bruno faidutti</td>
            </tr>
            <tr>
                <td>3</td>
                <td>le roi des nains</td>
                <td>Bruno faidutti</td>
            </tr>
        </table>
    </div>


</div>