.misc {
  width: 100%;
  padding: 0 15px 45px 15px;
  margin-bottom: 18px;
  .misc-content {
    @include row;
    width: 100%;
    padding-bottom: 45px;
    border-bottom: solid 1px lighten($grey, 20);

    > div {
      @include make-sm-column(4);
      text-align: center;
    }

  }
}